.idea/
test.php
.vscode/
node_modules/
wordpress/*
!wordpress/wp-content/
wordpress/wp-content/*
!wordpress/wp-content/plugins/
wordpress/wp-content/plugins/*
!wordpress/wp-content/plugins/CandidateGallery/
wordpress/wp-content/plugins/CandidateGallery/*
!wordpress/wp-content/plugins/CandidateGallery/backend/
!wordpress/wp-content/plugins/CandidateGallery/lib/