.idea/
test.php
wordpress/
.vscode/
node_modules/
!wordpress/wp-content/plugins/CandidateGallery/
wordpress/wp-content/plugins/CandidateGallery/dist/
wordpress/wp-content/plugins/CandidateGallery/vendor/